* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #000;
    display: flex;
    flex: 1;
}

/* Login */

right {
    display: block;
}

.area-login {
    display: flex;
    margin-top: 20px;
    margin-left: 260px;
    color: #6E767D;
    font-size: 13px;
}

.email, .password {
    border: 1px solid #6E767D;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
    margin-right: 15px;
}

.email input {
    width: 96%
}

.email label, .password label {
    display: block;
}

.button-submit button {
    padding: 15px 30px;
    color: #1DA1F2;
    background-color: #000;
    border: 1px solid #1DA1F2;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.recover-password {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 500px;
}

a {
    color: #1DA1F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Subscriber */

.area-subscriber {
    color: #FFF;
    font-weight: bold;
    margin-top: 180px;
    margin-left: 260px;
    width: 300px;
}

.img-twitter img {
    margin-bottom: 20px;
}

.title h1 {
    font-size:30 px;
}

.title {
    margin-bottom: 50px;
}

.subtitle h6 {
    font-size: 12px;
}

.buttons-subscriber {
    margin-top: 15px;
}

.buttons-subscriber button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 30px;
    color: #1DA1F2;
    background-color: #000;
    border: 1px solid #1DA1F2;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

#subscriber {
    color: #FFF;
    background-color: #1DA1F2;
}

/* Footer */

footer {
    background-color: #000;
    padding: 13px 15px;
}

footer a, span {
    margin-left: 5px;
    padding: 5px;
    font-size: 13px;
    color: #6E767D;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}